$cont_bgc: #dc143c;

html, body, #root, .App{
  height:100%;
}

.container{
  display: flex;
  height: 100vh;
  align-items: center;
  background-color: $cont_bgc;
  justify-content: center;
  overflow: scroll;
  // for firefox
  scrollbar-width: none;
  // for chrome
  &::-webkit-scrollbar{
    width: 0px;
    display: none;
  }

  >.wrapper{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px 60px;
    border-radius: 10px;
    gap:10px;
    align-items: center;
    filter: drop-shadow(0 0 10px );

    .logo{
      font-weight: bold;
      font-size: 24px;
    }

    .title{
      font-size: 12px;
    }

    form{
      display: flex;
      flex-direction: column;
      gap:15px;

      input{
        border:none;
        outline: none;
        padding: 10px;
        border-bottom: 1px solid $cont_bgc;
        
        &::placeholder{
          font-size: 1.2em;
        }
        &:focus::placeholder{
          color: $cont_bgc;
        }
        &[type=number]{
          -moz-appearance: textfield;
        }
      }
      
      label{
        display:flex;
        gap:10px;
        align-items: center;
        font-size: 12px;
        cursor: pointer;
        color: $cont_bgc;
      }

      button{
        border: none;
        cursor: pointer;
        width: 250px;
        padding: 10px;
        font-weight: bold;
        color:white;
        background-color: $cont_bgc;
        border-radius: 10px;
      }
    }
    a{
      text-decoration: none;
      color: $cont_bgc;
      font-weight: 600;
    }
  }
}

.home{
  display: grid;
  grid-template-columns:auto 1fr;
  grid-template-rows: auto 1fr;
  background-color: $cont_bgc;
  min-height: 100vh;
  
  .topbar{
    background-color: #fff;
    grid-column: 1/-1;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color:$cont_bgc;
    filter: drop-shadow(0 0 10px grey);
    >.title{
      margin: auto;
      font-size: 20px;
      font-weight: bold;
    }
    >img{
      cursor: pointer;
    }
  }

  .sidebar{
    background-color: #fff;
    padding:15px 10px;
    display: flex;
    flex-direction: column;
    gap:30px;
    grid-row: 2/3;
    img{
      height:25px;
      width:25px;
      cursor: pointer;
    }
    .settingIcon{
      margin-top: auto;
    }
  }

  >.wrapper{
    color:$cont_bgc;
    border-radius: 20px;
    background-color: #fff;
    margin: 20px 10px;
    filter:drop-shadow(0 0 5px);
    padding:20px;
    .foodMenus{
      display:flex;
      flex-direction: column;
      gap:12px;
      position: relative;

      //blur the bg for addMenu
      > *:not(.addMenu){
        // filter: blur(5px)
      }
      .top{
        display: flex;
        gap:10px;
        >*{
          cursor: pointer;;
          font-size: 15px;
          font-weight: 600;
          display: flex;
          align-items: center;
          padding:10px;
          border: 1px solid $cont_bgc;
          border-radius: 10px;
          width: fit-content;
          gap:10px;
        }
      }
      >.wrapper{
        
        .category{
          display: flex;
          flex-direction: column;
          gap:12px;

          .title{
            font-size: 24px;
            font-weight: bold;
          }

        }
        .items{
          display:flex;
          flex-direction: column;
          gap: 32px;
          // background-color: rgb(181, 181, 181);
          padding: 12px;
          border-radius: 10px;
          
          .item{
            background-color: #fff;
            display:flex;
            align-items: center;
            gap:24px;
            // border: 1px solid $form_accent;
            border-radius: 10px;
            padding: 10px;
            filter:drop-shadow(0 0 1px grey);
            transition: filter 150ms ;

            &:hover{
              filter:drop-shadow(0 0 10px black);
            }
            img{
              width: 64px;
              height: 64px;
              object-fit: cover;
            }
            .details{
              width:100%;
              display: grid;
              grid-template: auto 1fr / 1fr 1fr;
              grid-auto-flow: column;
              gap:10px;
              color:black;
              .name{
                font-weight: bold;
                
              }
              .desc{
              }
              .price{
                color:green;
                font-weight: bold;
              }
              .cust{
                display: flex;
                gap: 12px;
                button{
                  height: fit-content;
                  border:none;
                  padding:10px;
                  border-radius: 10px;
                  color:white;
                  font-weight: bold;
                  cursor: pointer;

                  &:hover{
                    filter: drop-shadow(0 0 3px grey)
                  }
                }
                .edit{
                  background-color: green;
                }
                .delete{
                  background-color:$cont_bgc;
                }
              }
            }
          }
        }
      }
      .addMenu{
        background-color: rgba(220, 20, 60, 0.7);
        padding: 20px;
        border-radius:10px ;
        position: absolute;
        display: none;
        justify-content: center;
        inset:0;
        
        >.wrapper{
          position: relative;

          .cancel{
            position: absolute;
            left: 100%;
            bottom:100%;
            transform: translate( -30px, 30px);
            cursor: pointer;
          }
          .heading{
            font-size: 24px;
            font-weight: bold;
          }
          form{

            .isVeg{
              display: flex;
              gap:12px;

              label{
                font-size: 12px;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}